.contact-form
  %h3
    %span.h-text Contact me

  %p I'm currently available for hire, please contact me to discuss opportunities.

  = form_tag(contact_url, method: :post) do
    = text_field_tag :name, nil, placeholder: 'your name',
                                 autocomplete: 'off'
    %br

    = text_field_tag :from, nil, placeholder: 'your email address',
                                 autocomplete: 'off'
    %br

    = text_area_tag :message, nil, placeholder: 'message',
                                   autocomplete: 'off'
    %br

    = button_tag 'Contact'
