= stylesheet_link_tag 'static_pages'

.header
  %h1
    %span.h-text brian mason
  %h2
    %span.h-text software engineer

.main-content
  .about
    %p
      I build things with Ruby on Rails.
    %p
      I have experience with a number of other technologies including Sinatra,
      Rspec, Javascript, jQuery, Backbone.js, React, Jasmine, HTML/CSS, Sass,
      mySQL, Sidekiq, and Git.
    %p
      When I'm not coding you can find me biking in the East Bay hills, taking
      advantage of amazing camping and backpacking, engrossed in a book, or arguing
      about politics, religion, or philosophy.

  .projects
    %h3
      %span.h-text Some things I've done

    %ul
      %li.project
        = link_to 'Causes', 'https://www.causes.com'
        &middot; Worked for Causes.com building features, including a backend
        email messaging system.
      %li.project
        = link_to 'Sanisalud', 'https://www.sanisalud.org'
        &middot; Maitained and added context to non-profit's website, improved
        code quality and maintainability.
      %li.project
        = link_to 'Brello', 'https://brello.heroku.com'
        &middot; A clone of the task management software Trello that I built as an
        exercise in building a single-page app using Backbone.js.
      %li.project
        = link_to 'Chess', 'http://bmason.io/play/chess.html'
        &middot; A simple 2 player chess game written in JavaScript.
      %li.project
        = link_to 'Mandelbrot Set', mandelbrot_url
        &middot; Mandelbrot and associated Julia Set fractal viewer written in
        JavaScript.

  = render 'static_pages/contact_form'
