:ruby
  keywords = [
    'developer',
    'web developer',
    'software engineer',
    'ruby on rails developer',
    'ror developer',
    'javascript developer',
    'backbone.js developer',
    'web application development',
    'ruby on rails consulting',
    'hire ruby on rails developer',
    'brian mason',
    'brian dale mason',
    'brian d mason',
    'brian.dale.mason',
    'brian.dale.mason@gmail.com'
  ]

!!!
%html
  %head
    %title Brian Mason | Software Engineer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ name: 'keywords', content: keywords.join(', ') }

  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/google_analytics'
